[submodule "libraries/jansson"]
	path = libraries/jansson
	url = git@github.com:seagullua/jansson.git
[submodule "libraries/CryptoPP"]
	path = libraries/CryptoPP
	url = git@github.com:seagullua/CryptoPP.git
[submodule "libraries/curl"]
	path = libraries/curl
	url = git@github.com:seagullua/curl.git
